.col-main {
  display: flex;
  flex-direction: row;
}

.title-block {
  padding: 5px;
}

.imgCol {
  padding-top: 10px;
}

.featureCol {
  padding: 10px 45px 10px 45px;
}

.brief{
  font-size: 1.5rem;
}

.heading {
  padding-top: 0px;
  font-weight: 500;
  font-size: 32px;
}

.Tab-content {
  background: white !important;
  height: 100%;
}

.cad-model {
  width: 100%;
  /* border: 1px solid black; */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  height: 600px;
  margin-bottom: 3rem;
}
