.img-col {
  padding: 30px;
}

.social-list {
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.member-image {
  width: 100%;
  max-width: 400px;
}

.overlay-text {
  padding: 10px;
  font-size: 14px;
}
