.legacy-section {
  padding-bottom: 50px;
}

.carousel {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item {
  display: flex;
  padding: 20px;
  height: 100%;
}

.legacy-cards {
  border-radius: 1.5rem;
  box-shadow: 0px 5px 12px rgba(37, 32, 32, 0.4);
  height: 100%;
}

.legacy-images {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 30rem;
}

.legacy-name {
  color: var(--color-primary);
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 2px;
}

.legacy-position {
  color: var(--color-primary);
  font-family: var(--font-primary);
  margin-bottom: 2px;
}

.legacy-social:hover {
  color: var(--color-quartenary);
  transition: all 0.3s ease-in-out;
}

.rec.rec-arrow {
  border-radius: 50px;
  transform: scale(0.6);
}
