.legacy-section {
  padding-bottom: 50px;
}

.carousel {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item {
  display: flex;
  color: #fff;
  padding: 20px;
}

.legacy-cards {
  background-color: var(--color-white);
  border-radius: 1.5rem;
  box-shadow: 0px 5px 12px rgba(37, 32, 32, 0.4);
}

.legacy-images {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 30rem;
}

.rec.rec-arrow {
  border-radius: 0;
  size: 16px;
}

.rec.rec-arrow:hover {
  border-radius: 50%;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}
