.iframe-container {
  overflow: hidden;
  padding-top: 56.25%; /* 16:9*/
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.title-name {
  padding-bottom: 40px;
}

.title-name:first-child {
  padding-bottom: 0px;
}

.imgCol {
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
}
.featureCol {
  padding: 20px 55px 20px 55px;
}

.heading {
  padding-top: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
}

.key-features-list > li {
  padding-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
