.subsys-link {
  padding: 15px;
  font-size: 2.5rem;
  text-decoration: none;
}

.subsys-text{
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.subsys-text:hover{
  color: blue;
  font-size: 2.65rem;
}

.heading-main{
  padding-top: 10px;
}
