.accordian-section {
  margin-bottom: 20px;
}
.accordian-toggle {
  background-color: var(--color-tertiary);
  max-height: 150px;
  cursor: pointer;
  padding: 10px;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--font-heading);
  color: var(--color-black);
}

.accordian-toggle:hover {
  transition: all 0.3s ease-in-out;
  color: #fff;
}
