.rowPadding {
  padding-bottom: 20px;
}

.colPadding {
  padding: 0px 15px 50px 15px;
}

.cardBody {
  background: rgb(223, 223, 223);
  border-radius: 10px;
}

.memberImage {
  padding: 20px 5px 10px 5px;
  width: 100%;
}

.image-prof {
  margin-top: -100px;
  box-shadow: 2px 2px 2px #cccccc;
  width: 85%;
  height: 15%;

.socialList {
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social:hover {
  color: blue;
  transition: all 0.3s ease-in;
}
